@model ASP.NETapp.Models.BusinessContact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BusinessContact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessAddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessAddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessPostcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCompany)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BusinessContactId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
