@model ASP.NETapp.Models.PersonalContact

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Personal Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalAddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalAddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalAddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalAddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalPostcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalCountry)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonalContactId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
